.page404 {
    display: flex;
    flex-direction: column;

    min-height: calc(100vh - 15px);
    padding-top: 15px;

    background-color: var(--c3);

    justify-content: space-between;
}

.page404 p {
    font: 200 40px Montserrat;

    text-align: center;

    color: var(--c7);
}

.page404 img {
    width: 100%;
}

.page404 .button {
    margin: 60px auto 0;
}

.page404 .footer {
    margin-top: 30px;
}
