.header {
    min-height: 400px;
    position: relative;
}

.header.darkBg::before {
    z-index: -10;
    top: 0;
    left: -1000px;
    right: -1000px;
    bottom: 0;
    content: '';
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
}

.header_search {
    margin: 50px 50px 0;
}

.header_movieDetails {
    padding: 40px 0 68px;
}
