.moviesList {
    position: relative;

    display: flex;

    min-height: 640px;
    margin: 0 -15px;

    flex-wrap: wrap;
    justify-content: space-between;
}

.moviesList.loading::before {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: .5;
    background-color: var(--c2);
}

.moviesList.loading::after {
    position: absolute;
    top: calc(50% - 285px);
    left: calc(50% - 285px);

    display: block;

    width: 570px;
    height: 570px;

    content: ' ';
    animation: spin 1.5s linear infinite;

    border: 15px solid var(--c1);
    border-color: var(--c1) transparent;
    border-radius: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.moviesList_counter {
    font: 20px/75px Montserrat;

    width: 100%;
    margin: 0 15px;

    letter-spacing: 1px;

    color: var(--c7);
}

.moviesList_counter span {
    font: 600 22px Montserrat;

    color: var(--c5);
}

.moviesList_movieItem {
    margin: 0 15px 20px;
}

.moviesList .dummyFlexItem {
    width: 340px;
}

.moviesList_noMovies {
    font: 200 60px/640px Montserrat;

    width: 100%;
    margin: 0;

    text-align: center;

    color: var(--c7);
}
