.moviesList {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

.moviesList_counter {
    font: 20px/75px Montserrat;

    width: 100%;
    margin: 0;
    letter-spacing: 1px;
    color: var(--c7);
}

.moviesList_counter span {
    font: 600 22px Montserrat;
    color: var(--c5);
}
